.dashboard-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.info-card {
  flex: 1 1 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.chart-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.chart-card {
  flex: 1 1 500px;
  padding: 24px;
}

canvas {
  max-width: 100%;
}
